<!-- Page Header -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#menu-content">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div id="weather"></div>

      <a class="navbar-brand" href="#">
        <img src="assets/sailboat-orange.png" width=200 alt="The Sailboat Shop Official Logo">
      </a>
    </div>
    <div class="navbar-in-header">
      {% include navbar.html %}
    </div>
</nav>
<div class="row">
  <div class="col-xs-12">
    <div class="banner">
      The Sailboat Shop is colocated with <a href="www.google.com" target="_blank"><em>Winkley's Hardware</em>&nbsp;<img width=15px src="assets/new-window.png"></a>
    </div>
  </div>
</div>
<div>
