<div class="nav-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        Shop
      </li>
      <ul>
        <a href="/hobie-boats/"><li>New Sailboats - Hobie</li></a>
        <a href="/used-boats/"><li>Used Sailboats</li></a>
        <a href="/tohatsu-outboards/"><li>Sailboat Outboards - Tohatsu</li></a>
        <a href="/sailboat-parts-and-accessories/"><li>Sailboat Parts and Accessories</li></a>
      </ul>
      <li data-toggle="collapse" data-target="#service" class="collapsed">
        Services
      </li>
      <ul>
        <a href="/sailboat-repairs-and-consulting/"><li>Sailboat Repairs and Consulting</li></a>
        <a href="/consignment-boats/"><li>Consignment Boats</li></a>
      </ul>
    </ul>
  </div>
</div>
