<div class="nav-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="#">Shop</a>
      </li>
      <ul>
        <li><a href="#">Hobie Cat Sailboats</a></li>
        <li><a href="#">Used and Consignment Boats</a></li>
        <li><a href="#">Line by the Foot</a></li>
        <li><a href="#">Sailboat Parts &amp; Accessories</a></li>
        <li><a href="#">Safety Devices</a></li>
        <li><a href="#">Anchors</a></li>
      </ul>
      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#">Services </span></a>
      </li>
      <ul>
        <li>Boat Repair</li>
        <li>Standing Rigging</li>
        <li>Swedging</li>
      </ul>
    </ul>
  </div>
</div>
