<div class="nav-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        Shop
      </li>
      <ul>
        <a href="/hobie-cat/"><li>New Sailboats - Hobie</li></a>
        <a href="/used-boats/"><li>Used Sailboats</li></a>
        <a href="/boating-parts-accessories/"><li>Sailboat Parts &amp; Accessories</li></a>
        <a href="#"><li>Safety Devices</li></a>
        <a href="#"><li>Anchors</li></a>
      </ul>
      <li data-toggle="collapse" data-target="#service" class="collapsed">
        Services
      </li>
      <ul>
        <li>Boat Repair</li>
        <li>Standing Rigging</li>
        <li>Swedging</li>
      </ul>
    </ul>
  </div>
</div>
