---
layout: page
---

{% assign products_hash = site.data.{{ page.product-collection }} %}
{% assign products = products_hash[{{page.product-collection}}] %}

{{ content }}

<div id="products" class="row list-group">
  {% for product in products %}
    <div class="item  col-xs-4 col-lg-4">
      <a href="{{ "/" | append: product.slug | prepend: page.product-collection | prepend: '/' | prepend: site.baseurl }}">
        <div class="thumbnail grid-item">
          <img class="group list-group-image" src="{{ "/assets/" | append: product.cover-photo | prepend: site.baseurl }}" alt="product image" />
          <div class="caption">
            <h4 class="group inner list-group-item-heading">{{ product.name }}</h4>
            <p class="group inner list-group-item-text">
              {{ product.short-description }}
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
